click==7.1.2
numpy == 1.16.1
twilio
cmake
opencv_python == 3.4.5.20
dlib == 19.16.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
flask_api
flask_cors
flask_socketio
flask